In [66]:
from EAExperiment import EAExperiment
import pandas as pd
import functools
from skfeature.function.statistical_based import CFS
import numpy as np
import math
from tsfresh import extract_relevant_features, extract_features, select_features
from tsfresh.utilities.dataframe_functions import make_forecasting_frame
from tsfresh.utilities.dataframe_functions import impute

In [48]:
data = pd.read_csv('data.csv')

In [49]:
data['id'] = data.index
data.head()

,PERIODO,PESO_1,VALOR_1,NUM_OPERACIONES_1,PESO_2,VALOR_2,NUM_OPERACIONES_2,PESO_3,VALOR_3,NUM_OPERACIONES_3,...,NUM_OPERACIONES_23,tm_mes,w_med,p_mes,hr,e,w_racha_dir,w_racha_speed,PIB,id
0,Ene/14,0,0.00,0,20480,161590.43,17,1762044,7451234.36,1484,...,36,13.2,20.0,130.30,76.00,120.0,25.0,27.5,315945.0,0
1,Feb/14,1617,15667.68,6,28357,209912.23,29,2766260,9851902.35,1366,...,48,12.7,20.0,57.00,72.00,113.0,24.0,26.4,315945.0,1
2,Mar/14,2168,20771.54,4,39998,236089.89,32,2333843,9376101.44,1498,...,42,14.3,24.0,136.60,83.25,118.0,9.0,26.1,315945.0,2
3,Abr/14,105,6388.48,2,116501,375152.33,35,3097984,10280540.18,1610,...,48,16.6,22.0,50.90,77.00,151.0,8.0,21.1,297470.0,3
4,May/14,2062,41020.21,7,185644,504055.77,47,3963593,12011060.64,1717,...,45,19.1,27.0,21.25,72.00,161.0,8.0,23.9,297470.0,4

In [56]:
data["PESO_7"]

0      4647664
1      4155779
2      3138319
3      1067706
4      2041205
5      1185563
6       522566
7       483511
8      3487390
9       370727
10      872888
11     5614224
12     3253263
13     2556898
14     3835614
15     8493951
16     2450521
17      853642
18      538373
19      207290
20      865174
21     1325578
22     1495317
23     3047421
24     2715935
25     9780713
26     2429763
27     1459708
28     1421997
29      676069
30     1061285
31      357290
32     1072040
33     1310932
34     1569340
35     3179457
36     2767615
37     2487279
38     3663372
39     2370005
40     2240413
41      563552
42      934037
43     8356420
44      866668
45     1182016
46     1300326
47     3265438
48    10891638
49     4426497
50     3188769
51     2974767
52     4204833
53     4927018
54     9058866
55     8036733
56    13186744
57      739023
58     2108616
59     2938267
Name: PESO_7, dtype: int64

In [77]:
data = data.drop("PERIODO", axis=1)

In [59]:
df_shift.head()

                         time      value  id     kind
_temporary_index_column
486                       0.0  4647664.0   1  imports
428                       0.0  4647664.0   2  imports
487                       1.0  4155779.0   2  imports
371                       0.0  4647664.0   3  imports
429                       1.0  4155779.0   3  imports

In [ ]:
features = []
for col in data.columns:
    df_shift, y = make_forecasting_frame(data[col], kind='imports', max_timeshift=12, rolling_direction=1)
    extracted_features = extract_features(df_shift, column_id="id", column_sort="time", column_value="value", 
                                          impute_function=impute, show_warnings=False, disable_progressbar=True)
    try:
        features_filtered = select_features(extracted_features, y)
    except:
        print(col)
        continue
    features.append(features_filtered)
    print(features_filtered.columns)

     time   value  id     kind
583   0.0     0.0   1  imports
525   0.0     0.0   2  imports
584   1.0  1617.0   2  imports
468   0.0     0.0   3  imports
526   1.0  1617.0   3  imports
variable  value__change_quantiles__f_agg_"var"__isabs_False__qh_0.6__ql_0.4  \
id
1                                                      0.00
2                                                      0.00
3                                                      0.00
4                                                      0.00
5                                                      0.00
6                                                      0.00
7                                                      0.00
8                                                      0.00
9                                                      0.00
10                                                     0.00
11                                                     0.00
12                                                     0.00
13                                                     0.00
14                                                     0.00
15                                                     0.00
16                                                     0.00
17                                                     0.00
18                                                     0.00
19                                                     0.00
20                                                     0.00
21                                                     0.00
22                                                     0.00
23                                                     0.00
24                                                     0.00
25                                                     0.00
26                                                     0.00
27                                                     0.00
28                                                     0.00
29                                                     0.00
30                                                     0.00
31                                                     0.00
32                                                     0.00
33                                                     0.00
34                                                     0.00
35                                                     0.00
36                                                     0.00
37                                                     0.00
38                                                     0.00
39                                                     0.00
40                                                     0.00
41                                                     0.00
42                                                     0.00
43                                                     0.00
44                                                     0.00
45                                                     0.00
46                                                     0.00
47                                                     0.00
48                                                     0.00
49                                                     0.00
50                                                     0.00
51                                                     0.00
52                                                     0.00
53                                                     0.00
54                                              42390243.00
55                                               3075468.75
56                                                     0.00
57                                               6561000.00
58                                                     0.00
59                                                     0.00

variable  value__change_quantiles__f_agg_"var"__isabs_True__qh_0.6__ql_0.4
id
1                                                      0.00
2                                                      0.00
3                                                      0.00
4                                                      0.00
5                                                      0.00
6                                                      0.00
7                                                      0.00
8                                                      0.00
9                                                      0.00
10                                                     0.00
11                                                     0.00
12                                                     0.00
13                                                     0.00
14                                                     0.00
15                                                     0.00
16                                                     0.00
17                                                     0.00
18                                                     0.00
19                                                     0.00
20                                                     0.00
21                                                     0.00
22                                                     0.00
23                                                     0.00
24                                                     0.00
25                                                     0.00
26                                                     0.00
27                                                     0.00
28                                                     0.00
29                                                     0.00
30                                                     0.00
31                                                     0.00
32                                                     0.00
33                                                     0.00
34                                                     0.00
35                                                     0.00
36                                                     0.00
37                                                     0.00
38                                                     0.00
39                                                     0.00
40                                                     0.00
41                                                     0.00
42                                                     0.00
43                                                     0.00
44                                                     0.00
45                                                     0.00
46                                                     0.00
47                                                     0.00
48                                                     0.00
49                                                     0.00
50                                                     0.00
51                                                     0.00
52                                                     0.00
53                                                     0.00
54                                              42390243.00
55                                               3075468.75
56                                                     0.00
57                                               3936600.00
58                                                     0.00
59                                                     0.00
     time     value  id     kind
583   0.0      0.00   1  imports
525   0.0      0.00   2  imports
584   1.0  15667.68   2  imports
468   0.0      0.00   3  imports
526   1.0  15667.68   3  imports

VALOR_1
     time  value  id     kind
583   0.0    0.0   1  imports
525   0.0    0.0   2  imports
584   1.0    6.0   2  imports
468   0.0    0.0   3  imports
526   1.0    6.0   3  imports
Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59]
     time    value  id     kind
583   0.0  20480.0   1  imports
525   0.0  20480.0   2  imports
584   1.0  28357.0   2  imports
468   0.0  20480.0   3  imports
526   1.0  28357.0   3  imports

In [71]:
features_filtered

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59]

In [12]:
data.columns

Index(['PERIODO', 'PESO_1', 'VALOR_1', 'NUM_OPERACIONES_1', 'PESO_2',
       'VALOR_2', 'NUM_OPERACIONES_2', 'PESO_3', 'VALOR_3',
       'NUM_OPERACIONES_3', 'PESO_4', 'VALOR_4', 'NUM_OPERACIONES_4', 'PESO_5',
       'VALOR_5', 'NUM_OPERACIONES_5', 'PESO_6', 'VALOR_6',
       'NUM_OPERACIONES_6', 'PESO_7', 'VALOR_7', 'NUM_OPERACIONES_7', 'PESO_8',
       'VALOR_8', 'NUM_OPERACIONES_8', 'PESO_9', 'VALOR_9',
       'NUM_OPERACIONES_9', 'PESO_10', 'VALOR_10', 'NUM_OPERACIONES_10',
       'PESO_11', 'VALOR_11', 'NUM_OPERACIONES_11', 'PESO_12', 'VALOR_12',
       'NUM_OPERACIONES_12', 'PESO_13', 'VALOR_13', 'NUM_OPERACIONES_13',
       'PESO_14', 'VALOR_14', 'NUM_OPERACIONES_14', 'PESO_15', 'VALOR_15',
       'NUM_OPERACIONES_15', 'PESO_16', 'VALOR_16', 'NUM_OPERACIONES_16',
       'PESO_17', 'VALOR_17', 'NUM_OPERACIONES_17', 'PESO_18', 'VALOR_18',
       'NUM_OPERACIONES_18', 'PESO_19', 'VALOR_19', 'NUM_OPERACIONES_19',
       'PESO_20', 'VALOR_20', 'NUM_OPERACIONES_20', 'PESO_21', 'VALOR_21',
       'NUM_OPERACIONES_21', 'PESO_22', 'VALOR_22', 'NUM_OPERACIONES_22',
       'PESO_23', 'VALOR_23', 'NUM_OPERACIONES_23', 'tm_mes', 'w_med', 'p_mes',
       'hr', 'e', 'w_racha_dir', 'w_racha_speed', 'PIB', 'id'],
      dtype='object')